{% extends "base.html" %}

{% block content %}
  <h1>Transactions</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr id="transaction.{{transaction.id}}">
          <td>{{transaction.transaction_date}}</td>
          <td>{{transaction.format_dollars_cents()}}</td>
          <td>{{transaction.description}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
